<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="webPages:Enabled" value="false" />
    <!--SVN下载项目地址-->
    <add key="SVNAdress" value="https://106.14.7.89/svn/liyangtest"/>
    
    <!--SVN用户名-->
    <add key="SVNUserName" value="liyang"/>
    
    <!--SVN用户密码-->
    <add key="SVNUserPwd" value="liyang"/>
    
    <!--SVN下载下来的项目地址-->
    <add key="SVNPath" value="C:\公司项目\项目"/>

    <!--VS的devenv.com路径，绝对路径-->
    <add key="devenv_com" value="C:\Install\Microsoft Visual Studio2017\Common7\IDE\devenv.com"/>
  </appSettings>
  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
</configuration>